<!DOCTYPE html>
<html>
<head>
    <title>WebChat Registration</title>
</head>
<body>
    <form onsubmit="checkFields(event)" method="POST">
        <p>username</p>
        <input type="text" name="username">
        <p>email</p>
        <input type="text" name="emailInput">
        <p>password</p>
        <input type="password" name="password">
        <p>confirm</p>
        <input type="password" name="passwordConfirmationInput">
        <input type="submit" name="registrationSubmitButton" value="subscribe">
    </form>    
</body>
    {% load static %}
    <script type="text/javascript" src="{% static "WebChat/jquery.js" %}"></script>
    <script type="text/javascript">
        function checkFields(event){
            var p1 =  $("input[name='password']").val();
            var p2 =  $("input[name='passwordConfirmationInput']").val();
            if (p1 != p2){
                event.stopPropagation();
                event.preventDefault();
                alert("Your passwords do not match");
            }
        }
    </script>
</html>
